@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Marvel-Regular";
  src: url("/fonts/MarvelRegular-Dj83.ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  background: linear-gradient(
      216deg,
      rgba(77, 77, 77, 0.05) 0%,
      rgba(77, 77, 77, 0.05) 25%,
      rgba(42, 42, 42, 0.05) 25%,
      rgba(42, 42, 42, 0.05) 38%,
      rgba(223, 223, 223, 0.05) 38%,
      rgba(223, 223, 223, 0.05) 75%,
      rgba(36, 36, 36, 0.05) 75%,
      rgba(36, 36, 36, 0.05) 100%
    ),
    linear-gradient(
      44deg,
      rgba(128, 128, 128, 0.05) 0%,
      rgba(128, 128, 128, 0.05) 34%,
      rgba(212, 212, 212, 0.05) 34%,
      rgba(212, 212, 212, 0.05) 57%,
      rgba(25, 25, 25, 0.05) 57%,
      rgba(25, 25, 25, 0.05) 89%,
      rgba(135, 135, 135, 0.05) 89%,
      rgba(135, 135, 135, 0.05) 100%
    ),
    linear-gradient(
      241deg,
      rgba(55, 55, 55, 0.05) 0%,
      rgba(55, 55, 55, 0.05) 14%,
      rgba(209, 209, 209, 0.05) 14%,
      rgba(209, 209, 209, 0.05) 60%,
      rgba(245, 245, 245, 0.05) 60%,
      rgba(245, 245, 245, 0.05) 69%,
      rgba(164, 164, 164, 0.05) 69%,
      rgba(164, 164, 164, 0.05) 100%
    ),
    linear-gradient(
      249deg,
      rgba(248, 248, 248, 0.05) 0%,
      rgba(248, 248, 248, 0.05) 32%,
      rgba(148, 148, 148, 0.05) 32%,
      rgba(148, 148, 148, 0.05) 35%,
      rgba(202, 202, 202, 0.05) 35%,
      rgba(202, 202, 202, 0.05) 51%,
      rgba(181, 181, 181, 0.05) 51%,
      rgba(181, 181, 181, 0.05) 100%
    ),
    linear-gradient(92deg, hsl(214, 0%, 11%), hsl(214, 0%, 11%)) no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  overflow: auto;
  min-height: 100%;
  font-size: 16px;
}

/* NAVIGATION */

.logo {
  height: 80px;
}

@media screen and (min-width: 320px) {
  .logo {
    height: 50px;
  }
}

.desktop-nav {
  display: none;
}

@media screen and (min-width: 501px) {
  .desktop-nav {
    display: block;
  }
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 500px) {
  .mobile-nav {
    display: block;
  }
}

.mobile-nav-content {
  padding: 6px 0;
  margin: 5px 0;
}

.mobile-nav-content hr {
  border: 1px solid #D82A2B;
  width: 70%;
  margin: 10px 0;
}

.mobile-nav-container {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  padding: 1.5rem;
  box-shadow: 0 4px 2px -2px black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.mobile-nav-container span {
  position: absolute;
  top: 40px;
  right: 0;
  cursor: pointer;
}

@keyframes swipeDown {
  from {
    transform: translate3d(0, -100vh, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.swipe-down {
  animation-timing-function: ease-in-out;
  transform-origin: bottom center;
  animation-name: swipeDown;
  animation-duration: 300ms;
}

@keyframes swipeUp {
  from {
    transform: translate3d(0, 100vh, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0vh, 0);
    opacity: 1;
  }
}

.swipe-up {
  animation-timing-function: linear;
  transform-origin: bottom center;
  animation-name: swipeUp;
  animation-duration: 400ms;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}

.custom-black-bg {
  background-color: hsl(0, 0%, 13%);
}

.thumbnail-wrapper {
  width: 200px;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.thumbnail {
  object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

@media (max-width: 768px) {
  .thumbnail {
    height: 120px;
    width: 120px;
  }
}

@media (max-width: 500px) {
  .thumbnail {
    height: 80px;
    width: 80px;
  }
}

.thumbnail-hover-border:hover {
  border: 2px solid #fe2540;
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 200ms;
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: stretch;
  padding: 1rem;
  align-content: space-around;
  justify-content: space-between;
}

.marvel-font {
  font-family: "Marvel-Regular", serif;
}

.landscape {
  height: 400px;
}

ul.pipe-separated-link-list {
  display: block;
  padding-top: 3px;
}

ul.pipe-separated-link-list li {
  list-style-type: none;
  display: inline;
}

ul.pipe-separated-link-list li:not(:first-child):before {
  content: ' | ';
  color: #CFDBE5;
  font-size: 1em;
  font-weight: bold;
}

ul.pipe-separated-link-list li a:hover, ul.character-detail-list li a:hover {
  border-bottom: 2px solid #fe2540
}
